@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #f8f9fa;
  --primary-bg-black-color: #000;
  --bg-white: #fff;
  --bg-hover: #f4f5f6;
  --text-black: #000;
  --box-shadow-color: #0000001a;
  --box-shadow-color-secondary: #0000001a;
  /* Slightly lighter grey */
  --primary-text-color: #1e1e1e;
  --primary-text--white-color: #fff;
  --secondary-text--white-color: #e3dfdf;
  --secondary-text-color: #2c2c2c;
  --nav-link-color: #333;
  --border-color: #ddd;
  --red-color: red;
  --btn-hover: #e2e6ea;
  --text-gray: #888;
  --overlay-color-black: #00000027;
  /* Light grey text */
  /* --secondary-text-color: #cccccc; */
  /* Softer grey text */
  /* --accent-color: #ff6f61; */
  /* Stylish accent color */

  /* Font Families */
  /* --primary-font: "Playfair Display", serif; */
  --primary-font: "Merriweather", serif;
  --secondary-font: "Lato", sans-serif;

  /* Font Sizes */
  --font-h1: clamp(24px, 4vw, 36px);
  --font-h2: clamp(22px, 3.5vw, 30px);
  --font-h3: clamp(20px, 3vw, 28px);
  --font-h4: clamp(18px, 2.5vw, 24px);
  --font-h5: clamp(16px, 2vw, 20px);
  --font-h6: clamp(14px, 1.8vw, 18px);
  --font-p: clamp(13px, 1.5vw, 16px);
  --font-a: clamp(13px, 1.5vw, 16px);
}

body {
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

h4,
h5,
h6 {
  font-family: var(--secondary-font-font);
  color: var(--primary-text-color);
}

/* Default Font Weights */
h1 {
  font-size: var(--font-h1);
  font-weight: 700;
}
h2 {
  font-size: var(--font-h2);
  font-weight: 400;
}
h3 {
  font-size: var(--font-h3);
  font-weight: 500;
}
h4 {
  font-size: var(--font-h4);
  font-weight: 500;
}
h5 {
  font-size: var(--font-h5);
  font-weight: 400;
}
h6 {
  font-size: var(--font-h6);
  font-weight: 400;
}
p {
  font-size: var(--font-p);
  font-weight: 400;
}
a {
  font-size: var(--font-a);
  font-weight: 500;
}

/* Responsive Font Weights */
@media (max-width: 1024px) {
  /* Tablets */
  h1 {
    font-weight: 600;
  }
  h2,
  h3 {
    font-weight: 500;
  }
  p,
  a {
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  /* Mobile */
  h1 {
    font-weight: 500;
  }
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  p,
  a {
    font-weight: 300;
  }
}
p {
  font-size: var(--font-p);
  color: var(--secondary-text-color);
  line-height: 1.6;
}

a {
  font-size: var(--font-a);
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .navbar {
  background-color: var(--secondary-bg-color);
} */

/* menu css */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--bg-white);
  box-shadow: 2px 0 10px var(--box-shadow-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}

.menu-container.active {
  transform: translateX(0);
}

.menu-container .menu-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--primary-bg-color);
  display: none;
}

.menu-container .menu-panel.active {
  left: 0;
  display: block;
  position: relative;
}

.menu-container .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.menu-container .menu ul {
  padding-left: 0;
  list-style: none;
}

.menu-container .menu li {
  position: relative;
}

.menu-container .menu a {
  display: flex;
  align-items: center;
  color: var(--nav-link-color);
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  transition: 0.6s all;
}

.menu-container .menu a i {
  margin-right: 10px;
}

.menu-container .menu a:hover,
.menu-container .menu a.active {
  background: var(--bg-hover);
  color: var(--primary-text-color);
  transform: translatex(5px);
}

.menu-container .has-submenu::after {
  content: " \f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  margin-left: auto;
}

.menu-container .back-btn {
  display: flex;
  align-items: center;
  color: var(--red-color);
  padding: 15px;
  background: var(--secondary-bg-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  gap: 10px;
  text-decoration: none;
}

.menu-container .back-btn:hover {
  background: var(--btn-hover);
}

.menu-container .close-btn {
  position: absolute;
  right: 0;
  color: #000;
  padding: 15px;
  background: var(--secondary-bg-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  z-index: 10;
}

.menu-container .close-btn:hover {
  background: var(--btn-hover);
}
/* end menu css */
/* header css */
.header {
  padding: 0;
  box-shadow: 1px 0px 1px var(--box-shadow-color-secondary);
  background-color: var(--primary-bg-color);
  transition: all 0.3s ease;
  z-index: 999;
}

.header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px var(--box-shadow-color);
}

.navbar-brand img {
  width: 65px;
}
.header .nav-icons {
  gap: 20px;
  display: flex;
}
.header .nav-link {
  font-size: var(--font-h5);
  /* color: var(--primary-text--white-color); */
  color: var(--primary-text-color);
}
.video-bg {
  position: relative;
  min-height: 97vh;
  width: 100%;
  /* background-color: var(--secondary-bg-color); */
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* opacity: 0.4; */
  /* opacity: 0; */
}
.video-section-two video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* opacity: 0.4; */
  /* opacity: 0; */
}
.hero-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color-black);
}
#videoPlayPauseBtn,
#videoMuteBtn {
  background: none;
  border: none;
  font-size: 15px;
  color: var(--secondary-bg-color);
}
/* end header css */
.-action-buttons {
  position: absolute;
  bottom: 10%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-category .product-cat-name {
  height: 30px;
}
.products-category .product-cat-name h6 {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0px 10px;
}
.products-category img {
  transition: 0.1s ease;
}
.products-category:hover img {
  transform: scale(0.9823);
}
/* video section two  */
.video-section-two {
  position: relative;
  min-height: 97vh;
  width: 100%;
}
.products {
  position: relative;
}
.products-category .product-name-price h6 {
  font-size: 16px;
}
.products .product-name-price .text {
  margin-bottom: 0;
  font-size: 15px;
}
.products .product-name-price {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 15px;
}

.products .product-name-price .price-section .original-price {
  text-decoration: line-through;
  color: var(--text-gray); /* gray */
  margin-right: 10px;
}

.products .product-name-price .price-section .discounted-price {
  color: var(--primary-text-color); /* Bootstrap danger red */
}
.product-info .price-section .original-price {
  text-decoration: line-through;
  color: var(--text-gray); /* gray */
  margin-right: 10px;
}

.product-info .price-section .discounted-price {
  color: var(--primary-text-color); /* Bootstrap danger red */
}

.products .wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  color: var(--text-gray);
  font-size: 20px;
  z-index: 10;
  transition: color 0.3s ease;
}
.products .wishlist-btn:hover {
  color: var(--primary-text-color);
}
.products .wishlist-btn.active i {
  color: var(--primary-text-color);
}
.products a {
  text-decoration: none;
  transition: 0.4s all;
}
.products:hover a {
  text-decoration: underline;
}
.products .carousel-control-prev-icon,
.products .carousel-control-next-icon {
  background-size: 80% 80%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-black) !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.products .carousel-control-next,
.products .carousel-control-prev {
  display: none;
  transition: 0.8s ease-in-out;
}

.products:hover .carousel-control-next,
.products:hover .carousel-control-prev {
  display: block;
}
/* .products .carousel-inner img {
  height: 250px;
  object-fit: cover;
} */
.banner-section-home-page {
  /* height: 100vh; */
  position: relative;
}
.banner-section-home-page img {
  height: 100vh;
  object-fit: cover;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .video-bg,
  .video-section-two {
    min-height: 75dvh;
  }
}
.cat-hero {
  position: relative;
  min-height: 85vh;
  background-color: var(--primary-bg-black-color);
}
.cat-hero .hero-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.cat-hero .hero-content {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.cat-hero .hero--text {
  color: var(--primary-text--white-color);
}
.cat-hero .hero--subtext {
  color: var(--primary-text--white-color);
}
.cat--product--card {
  position: relative;
  /* border: 0.5px solid var(--border-color); */
  transition: transform 0.3s ease;
}
.cat--product--card:hover {
  /* border: 0.5px solid var(--border-color); */
}

.cat--product--card .product-img-wrapper {
  /* position: relative;
  width: 100%;
  height: 300px; */
}

/* .cat--product--card .product-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
} */
.cat--product--card .hover-img {
  opacity: 0;
}
.cat--product--card:hover .hover-img {
  opacity: 1;
}
.cat--product--card:hover .main-img {
  opacity: 0;
}
.cat--product--card .wishlist-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  /* background: #fff; */
  border-radius: 50%;
  /* padding: 6px; */
  font-size: 16px;
  padding: 10px;
  color: var(--text-black);
  z-index: 10;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}
.cat--product--card .carousel-control-prev-icon,
.cat--product--card .carousel-control-next-icon {
  filter: invert(1); /* turns the arrow white to black */
  width: 20px;
  height: 20px;
  /* background-color: #646161; */
  border-radius: 50%;
  background-size: 80% 80%;
}
.cat--product--card .color-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
}
.cat--product--card .product-info {
  padding: 10px 10px;
  background-color: var(--bg-hover);
}
.cat--product--card .product-info .color-dot.active {
  border: 2px solid #000; /* heavier border */
  transform: scale(1.1); /* slight pop */
}
/* .cat--product--card .product-info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: var(--primary-bg-color);
  border-top: none;
  padding: 10px 12px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 11;
  box-shadow: 0px 0px 5px var(--box-shadow-color);
} */

.cat--product--card .product-info .product--name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.cat--product--card.product-info p {
  margin: 0;
  font-size: 14px;
  color: var(--nav-link-color);
}
.banner-hero-text {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}
.hero-heading {
  font-size: var(--font-h1);
  color: var(--primary-text--white-color);
}
.hero-subheading {
  font-size: var(--font-h6);
  color: var(--secondary-text--white-color);
}
.section-heading {
  font-size: var(--font-h2);
}

.section-heading.white {
  font-size: var(--font-h2);
  color: var(--primary-text--white-color);
}
.btn-outline-secondary:hover {
  color: #000;
  background-color: unset;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #000;
}
.footer-section {
}
.footer-section .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.footer-section .social-icon:hover {
  transform: scale(1.2);
  color: #fff;
}

.footer-section .social-icon.facebook:hover {
  background-color: #3b5998;
}
.footer-section .social-icon.instagram:hover {
  background-color: #e4405f;
}
.footer-section .social-icon.twitter:hover {
  background-color: #55acee;
}
.footer-section .social-icon.linkedin:hover {
  background-color: #0077b5;
}
.footer-section .social-icon.youtube:hover {
  background-color: #ff0000;
}
.footer-section .social-icon.pinterest:hover {
  background-color: #bd081c;
}
.footer-section .social-icon.whatsapp:hover {
  background-color: #25d366;
}

@media (max-width: 576px) {
  .footer-section .social-icon {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
.footer-section .address p {
  font-size: 15px;
  margin-bottom: 10px;
  color: var(--text-gray);
}
.footer-section .address .head {
  color: var(--primary-text-color);
}
.footer-section .nav .nav-item .nav-link {
  transition: 0.6s all;
  color: var(--text-gray);
}
.footer-section .nav .nav-item {
  width: 100%;
  padding: 0;
}
.footer-section .nav .nav-item .nav-link {
  padding: 0;
}
.footer-section .nav .nav-item .nav-link:hover {
  color: var(--text-black);
}
.footer-section .brand-logo {
  width: 100px;
  margin-bottom: 20px;
}
.footer-section .head {
  margin-bottom: 15px;
}
.services-section .desc {
  text-align: center;
  padding: 10px 10px;
}
.offcanvas-responsive {
  --bs-offcanvas-width: 50%;
  padding: 50px 0px 50px 70px;
}
.offcanvas-backdrop.show {
  opacity: 0.8;
}
.offcanvas-responsive .accordion-item {
  background-color: none;
  box-shadow: none;
  outline: none;
  border: none;
}
.offcanvas-responsive .accordion-button:focus {
  box-shadow: none;
}
.offcanvas-responsive .accordion-button:not(.collapsed) {
  background-color: unset;
}
/* on small screens (mobile) make it full width */
@media (max-width: 767.98px) {
  .offcanvas-responsive {
    --bs-offcanvas-width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .footer-section .address .head,
  .footer-section .head {
    margin-bottom: 8px;
    margin-top: 10px;
  }
  .footer-section .brand-logo {
    margin: auto;
  }
  .cat--product--card .product-info .product--name {
    font-size: 15px;
    font-weight: 500;
  }
}
.bagLogoSlider .swiper-button-next,
.bagLogoSlider .swiper-button-prev {
  color: #000; /* or any brand color */
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  top: 60%;
  z-index: 10;
}
.bagLogoSlider .swiper-button-next {
  right: 0;
}
.bagLogoSlider .swiper-button-prev {
  left: 0;
}

.bagLogoSlider .swiper-button-next::after,
.bagLogoSlider .swiper-button-prev::after {
  font-size: 15px;
  font-weight: bold;
}
.bagLogoSlider .cat-name h6 {
  text-align: center;
}
.bagLogoSlider .swiper-slide .cat-name h6 span {
  text-align: center;
  font-size: 14px;
  position: relative;
}
.bagLogoSlider .swiper-slide .cat-name h6 span::before {
  position: absolute;
  content: "";
  width: 0%;
  bottom: -1px;
  left: 0;
  border-bottom: 1.2px solid #000;
  transition: 0.3s;
}
.bagLogoSlider .swiper-slide:hover .cat-name h6 span::before {
  width: 100%;
}
.product-page img {
  background-color: var(--bg-hover);
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}
.product-page .carousel-control-prev-icon,
.product-page .carousel-control-next-icon {
  filter: invert(1); /* turns the arrow white to black */
  width: 20px;
  height: 20px;
  /* background-color: #646161; */
  border-radius: 50%;
  background-size: 80% 80%;
}
.product-details-container {
  padding: 50px 100px 100px;
  position: sticky;
  top: 20px;
}
.product-details-container .selected-product-code-no {
  font-size: 12px;
  color: var(--text-gray);
  font-weight: 500;
}
.product-details-container .selected-product-name {
  font-size: 16px;
  color: var(--secondary-text-color);
}
.product-details-container .selected-product-price {
  font-size: 15px;
  color: var(--secondary-text-color);
  font-weight: 400;
}
.product-details-container .selected-product-price .small {
  font-size: 12px;
  font-weight: 300;
  color: var(--primary-text-color);
  margin: 5px 0px;
}

.product-details-container .color-thumb {
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--bg-hover);
}

.product-details-container .color-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.product-details-container .color-thumb.active {
  border-color: black;
}
.product-details-container .color-thumb:hover {
  border-color: black;
}
.product-details-container .color-thumb.selected {
  border-color: #000;
}
.product-details-container .colours-container .head {
  font-size: 16px;
  margin-bottom: 5px;
}
.product-details-container .size-container .head {
  font-size: 16px;
  margin-bottom: 5px;
}
.product-details-container .colours-container .color {
  font-size: 14px;
  margin-bottom: 5px;
}
.colours-container {
  margin-top: 15px;
}
.size-container .size-box {
  border-radius: 0;
}
.size-container .nav-tabs {
  border: none;
}
.size-container .nav-tabs .nav-link {
  border-radius: 10px;
  padding: 0px 5px;
  color: var(--text-gray);
  border: none;
}
.size-container .nav-tabs .nav-link.active {
  color: var(--text-black);
}
.product-details-container .accordion-item {
  border: none;
  background-color: transparent;
  padding: 0px 0px;
}
.product-details-container .accordion-item .accordion-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  color: var(--text-gray);
  font-weight: 500;
}

/* cart page css */
.cart-hero-section {
  position: relative;
}
.cart-hero-section .hero-img {
  min-height: 400px;
  object-fit: cover;
}

.cart-item {
  background: #fff;
  border-radius: 10px;
  border: none;
  border-bottom: 0.01px solid var(--text-gray);
  border-radius: 0;
}

.cart-item .product-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: var(--bg-hover);
}

.cart-item:hover {
  border-color: #dee2e6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.cart-product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.cart-item .text-style,
.cart-item .text-variation {
  font-size: 15px;
  color: var(--text-gray);
  margin-bottom: 0px;
}

.cart-item .text-available {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
}
.cart-item .cart-actions {
  display: inline-flex;
  gap: 10px;
}
.cart-item .cart-actions a {
  font-size: 12px;
  font-weight: 500;
}
.cart-item .text-price {
  font-weight: 600;
  font: size 18px;
  text-align: end;
}
.order-summary-details {
  position: sticky;
  top: 100px;
}
.order-summary-details .text-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.order-summary-details .cart-number {
  font-size: 12px;
  color: var(--text-gray);
}
.order-summary-details .info-div {
  margin-bottom: 10px;
  font-size: 15px;
}
.order-summary-details .info-div-estimated-cost {
  font-weight: 600;
  font-size: 16px;
}
.cartOffcanvas {
  --bs-offcanvas-width: 45%;
}
.cartOffcanvas .offcanvas-title {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .cartOffcanvas {
    --bs-offcanvas-width: 90%;
  }
  .product-details-container {
    padding: 10px 10px 10px;
    position: relative;
    top: 0px;
  }
  .hero--section {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .cart-item {
    padding: 15px;
    border: 1px solid var(--text-gray);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .cart-item .product-img {
    aspect-ratio: 2/1.5;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .cart-item .text-available {
    margin-bottom: 10px;
  }
}
.check-order-summary {
  position: sticky;
  border-radius: 0;
  top: 70px;
  border-color:#b3b6b9a9;
}
.check-order-summary .order-summary {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.check-order-summary .order-products {
  overflow-y: auto;
  max-height: 350px;
}

.check-order-summary .order-total {
  background: #fff;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.check-order-summary .product-item {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;

  padding: 10px 0;
}

.check-order-summary .product-img {
  aspect-ratio: 1/1;
  width: 100px;
  object-fit: cover;
  background-color: var(--bg-hover);
  border-radius: 8px;
}
.check-order-summary .card-name {
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 0;
  background-color: var(--bg-hover);
}

.check-order-summary .product-item .qty {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}
.order-products::-webkit-scrollbar {
  width: 2px;
}

.order-products::-webkit-scrollbar-track {
  background: #f6f5f5;
  border-radius: 10px;
}

.order-products::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.order-products::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.checkout-section {
  background-color: var(--bg-white);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-gray);
  margin-bottom: 1.5rem;
}
.checkout-wrapper .checkout-section {
  padding: 2rem;
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 0px;
  border-color: #b3b6b9;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
}

.checkout-wrapper .form-floating > label {
  color: #6c757d;
  transition: all 0.2s ease-in-out;
  font-size: 0.95rem;
}

.checkout-wrapper .form-floating > .form-control:focus ~ label,
.checkout-wrapper
  .form-floating
  > .form-control:not(:placeholder-shown)
  ~ label {
  color: #000;
  font-weight: 500;
}

.checkout-wrapper .form-control {
  border: 1px solid #ced4da;
  border-radius: 0px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.checkout-wrapper .form-control:focus {
  border-color: var(--text-gray);
  box-shadow: 0 0 0 0.2rem var(--box-shadow-color-secondary);
}

.checkout-wrapper .checkout-section h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #343a40;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.checkout-wrapper .form-check-input:checked {
  background-color: var(--text-black);
  border-color: var(--box-shadow-color);
  box-shadow: 0 0 0 0.2rem var(--box-shadow-color-secondary);
}

.checkout-wrapper .form-check-label {
  font-size: 0.95rem;
  color: var(--text-gray);
}
